.WeekDisplayText {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 260px;
    font-weight: bold;
    font-family: Arial, serif;
    line-height: 227px;
    margin: -110px 0 0 0;
    height: 220px;
    color: #1c7bb7;
}